@import url("./__header/content__header.css");
@import url("./__subsection-header/content__subsection-header.css");
@import url("./__text/content__text.css");

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: white;
} 